<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-journal" class="new-journal login">

  <div class="container is-flex is-align-items-center is-justify-content-center login-category"> 

    <div class="new-cat-svg login-svg">
      <%= image_tag("new-message-animate.svg", :alt => 'add category image', class: "new-category-svg login-svg-form") %>
    </div>

    <div class="login-form">
      <svg id="categoryLogo" width="300" height="100" viewBox="0 0 999 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.192017 60.744C0.192017 50.952 2.40002 42.168 6.81602 34.392C11.232 26.52 17.232 20.376 24.816 15.96C32.496 11.544 40.992 9.33601 50.304 9.33601C61.248 9.33601 70.8 11.976 78.96 17.256C87.12 22.536 93.072 30.024 96.816 39.72H81.12C78.336 33.672 74.304 29.016 69.024 25.752C63.84 22.488 57.6 20.856 50.304 20.856C43.296 20.856 37.008 22.488 31.44 25.752C25.872 29.016 21.504 33.672 18.336 39.72C15.168 45.672 13.584 52.68 13.584 60.744C13.584 68.712 15.168 75.72 18.336 81.768C21.504 87.72 25.872 92.328 31.44 95.592C37.008 98.856 43.296 100.488 50.304 100.488C57.6 100.488 63.84 98.904 69.024 95.736C74.304 92.472 78.336 87.816 81.12 81.768H96.816C93.072 91.368 87.12 98.808 78.96 104.088C70.8 109.272 61.248 111.864 50.304 111.864C40.992 111.864 32.496 109.704 24.816 105.384C17.232 100.968 11.232 94.872 6.81602 87.096C2.40002 79.32 0.192017 70.536 0.192017 60.744Z" stroke="white" stroke-width="5"/>
        <path d="M150.738 112.296C143.346 112.296 136.626 110.616 130.578 107.256C124.626 103.896 119.922 99.144 116.466 93C113.106 86.76 111.426 79.56 111.426 71.4C111.426 63.336 113.154 56.232 116.61 50.088C120.162 43.848 124.962 39.096 131.01 35.832C137.058 32.472 143.826 30.792 151.314 30.792C158.802 30.792 165.57 32.472 171.618 35.832C177.666 39.096 182.418 43.8 185.874 49.944C189.426 56.088 191.202 63.24 191.202 71.4C191.202 79.56 189.378 86.76 185.73 93C182.178 99.144 177.33 103.896 171.186 107.256C165.042 110.616 158.226 112.296 150.738 112.296ZM150.738 100.776C155.442 100.776 159.858 99.672 163.986 97.464C168.114 95.256 171.426 91.944 173.922 87.528C176.514 83.112 177.81 77.736 177.81 71.4C177.81 65.064 176.562 59.688 174.066 55.272C171.57 50.856 168.306 47.592 164.274 45.48C160.242 43.272 155.874 42.168 151.17 42.168C146.37 42.168 141.954 43.272 137.922 45.48C133.986 47.592 130.818 50.856 128.418 55.272C126.018 59.688 124.818 65.064 124.818 71.4C124.818 77.832 125.97 83.256 128.274 87.672C130.674 92.088 133.842 95.4 137.778 97.608C141.714 99.72 146.034 100.776 150.738 100.776Z" stroke="white" stroke-width="5"/>
        <path d="M246.88 30.648C256.48 30.648 264.256 33.576 270.208 39.432C276.16 45.192 279.136 53.544 279.136 64.488V111H266.176V66.36C266.176 58.488 264.208 52.488 260.272 48.36C256.336 44.136 250.96 42.024 244.144 42.024C237.232 42.024 231.712 44.184 227.584 48.504C223.552 52.824 221.536 59.112 221.536 67.368V111H208.432V32.088H221.536V43.32C224.128 39.288 227.632 36.168 232.048 33.96C236.56 31.752 241.504 30.648 246.88 30.648Z" stroke="white" stroke-width="5"/>
        <path d="M332.653 42.888H316.093V111H302.989V42.888H292.765V32.088H302.989V26.472C302.989 17.64 305.245 11.208 309.757 7.17601C314.365 3.04801 321.709 0.984009 331.789 0.984009V11.928C326.029 11.928 321.949 13.08 319.549 15.384C317.245 17.592 316.093 21.288 316.093 26.472V32.088H332.653V42.888Z" stroke="white" stroke-width="5"/>
        <path d="M354.7 19.272C352.204 19.272 350.092 18.408 348.364 16.68C346.636 14.952 345.772 12.84 345.772 10.344C345.772 7.84801 346.636 5.73601 348.364 4.00801C350.092 2.28001 352.204 1.41601 354.7 1.41601C357.1 1.41601 359.116 2.28001 360.748 4.00801C362.476 5.73601 363.34 7.84801 363.34 10.344C363.34 12.84 362.476 14.952 360.748 16.68C359.116 18.408 357.1 19.272 354.7 19.272ZM361.036 32.088V111H347.932V32.088H361.036Z" stroke="white" stroke-width="5"/>
        <path d="M396.473 44.904C398.777 40.392 402.041 36.888 406.265 34.392C410.585 31.896 415.817 30.648 421.961 30.648V44.184H418.505C403.817 44.184 396.473 52.152 396.473 68.088V111H383.369V32.088H396.473V44.904Z" stroke="white" stroke-width="5"/>
        <path d="M531.984 30.648C538.128 30.648 543.6 31.944 548.4 34.536C553.2 37.032 556.992 40.824 559.776 45.912C562.56 51 563.952 57.192 563.952 64.488V111H550.992V66.36C550.992 58.488 549.024 52.488 545.088 48.36C541.248 44.136 536.016 42.024 529.392 42.024C522.576 42.024 517.152 44.232 513.12 48.648C509.088 52.968 507.072 59.256 507.072 67.512V111H494.112V66.36C494.112 58.488 492.144 52.488 488.208 48.36C484.368 44.136 479.136 42.024 472.512 42.024C465.696 42.024 460.272 44.232 456.24 48.648C452.208 52.968 450.192 59.256 450.192 67.512V111H437.088V32.088H450.192V43.464C452.784 39.336 456.24 36.168 460.56 33.96C464.976 31.752 469.824 30.648 475.104 30.648C481.728 30.648 487.584 32.136 492.672 35.112C497.76 38.088 501.552 42.456 504.048 48.216C506.256 42.648 509.904 38.328 514.992 35.256C520.08 32.184 525.744 30.648 531.984 30.648Z" stroke="white" stroke-width="5"/>
        <path d="M636.942 21.288V54.84H673.518V65.64H636.942V100.2H677.838V111H623.838V10.488H677.838V21.288H636.942Z" stroke="white" stroke-width="5"/>
        <path d="M792.562 30.648C798.706 30.648 804.178 31.944 808.978 34.536C813.778 37.032 817.57 40.824 820.354 45.912C823.138 51 824.53 57.192 824.53 64.488V111H811.57V66.36C811.57 58.488 809.602 52.488 805.666 48.36C801.826 44.136 796.594 42.024 789.97 42.024C783.154 42.024 777.73 44.232 773.698 48.648C769.666 52.968 767.65 59.256 767.65 67.512V111H754.69V66.36C754.69 58.488 752.722 52.488 748.786 48.36C744.946 44.136 739.714 42.024 733.09 42.024C726.274 42.024 720.85 44.232 716.818 48.648C712.786 52.968 710.77 59.256 710.77 67.512V111H697.666V32.088H710.77V43.464C713.362 39.336 716.818 36.168 721.138 33.96C725.554 31.752 730.402 30.648 735.682 30.648C742.306 30.648 748.162 32.136 753.25 35.112C758.338 38.088 762.13 42.456 764.626 48.216C766.834 42.648 770.482 38.328 775.57 35.256C780.658 32.184 786.322 30.648 792.562 30.648Z" stroke="white" stroke-width="5"/>
        <path d="M841.13 71.256C841.13 63.192 842.762 56.136 846.026 50.088C849.29 43.944 853.753 39.192 859.417 35.832C865.177 32.472 871.562 30.792 878.57 30.792C885.482 30.792 891.482 32.28 896.57 35.256C901.658 38.232 905.449 41.976 907.945 46.488V32.088H921.193V111H907.945V96.312C905.353 100.92 901.465 104.76 896.281 107.832C891.193 110.808 885.241 112.296 878.425 112.296C871.417 112.296 865.081 110.568 859.417 107.112C853.753 103.656 849.29 98.808 846.026 92.568C842.762 86.328 841.13 79.224 841.13 71.256ZM907.945 71.4C907.945 65.448 906.746 60.264 904.346 55.848C901.946 51.432 898.682 48.072 894.554 45.768C890.522 43.368 886.057 42.168 881.161 42.168C876.265 42.168 871.802 43.32 867.77 45.624C863.738 47.928 860.522 51.288 858.122 55.704C855.722 60.12 854.521 65.304 854.521 71.256C854.521 77.304 855.722 82.584 858.122 87.096C860.522 91.512 863.738 94.92 867.77 97.32C871.802 99.624 876.265 100.776 881.161 100.776C886.057 100.776 890.522 99.624 894.554 97.32C898.682 94.92 901.946 91.512 904.346 87.096C906.746 82.584 907.945 77.352 907.945 71.4Z" stroke="white" stroke-width="5"/>
        <path d="M950.106 19.272C947.61 19.272 945.498 18.408 943.77 16.68C942.042 14.952 941.178 12.84 941.178 10.344C941.178 7.84801 942.042 5.73601 943.77 4.00801C945.498 2.28001 947.61 1.41601 950.106 1.41601C952.506 1.41601 954.522 2.28001 956.154 4.00801C957.882 5.73601 958.746 7.84801 958.746 10.344C958.746 12.84 957.882 14.952 956.154 16.68C954.522 18.408 952.506 19.272 950.106 19.272ZM956.442 32.088V111H943.338V32.088H956.442Z" stroke="white" stroke-width="5"/>
        <path d="M991.88 4.44001V111H978.776V4.44001H991.88Z" stroke="white" stroke-width="5"/>
      </svg>


      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.email_field :email, placeholder: '👤 Email', autofocus: true, class: 'input is-medium login-input', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </div> 

</section>