<%= javascript_pack_tag 'alert' %>

<%= render 'navbar' %>

<section id="task-show" class="task-show">

        <div class="flex gap-32 justify-center custom:flex-col-reverse mt-16">
            <div>
                <div class="mt-16 text-xl">
                    <% label = task_label(@task) %>
                    <strong><%= @task.name %></strong>
                    <br/>
                    <i class='bx bxs-time' ></i>
                    <span>Deadline: <%= date_parse(@task.deadline) %></span>
                    <br/>
                    Status: <span class="has-text-<%= label[:status] %>">
                        <%= label[:message] %>
                    </span>

                    <br/><br/>

                    <div class="show-tasks-icons is-flex">
                        <%= link_to journal_path(@journal) do%>
                            <i class='bx bx-arrow-back is-size-5 font-semibold text-violet-800 text-3xl hover:text-violet-600' ></i>
                        <% end %>

                        <%= link_to edit_journal_task_path(@journal) do%>
                            <i class='bx bxs-cog is-size-5 font-semibold text-yellow-800 text-3xl hover:text-yellow-600' ></i>
                        <% end %>
                        <%= link_to journal_task_path(@journal), method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class='bx bxs-trash is-size-5 font-semibold text-red-800 text-3xl hover:text-red-600' ></i>
                        <% end %>
                    </div>
                </div>

                <br/><br/>

                <div class="container show-task-details text-xl">
                    <strong>Task Description:</strong>
                    &nbsp;<%= @task.description %>
                </div>
            </div>

            <%= image_tag("mind-map-animate.svg", :alt => 'edit category image', class: "edit__svg") %>

        </div>


</section>
