<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-journal" class="new-journal login">

  <div class="container"> 


    <div class="log-in-form">



      <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'form', class: 'form') do |f| %>
        <p class="error-message-login"><%= alert %></p>
        <div class="field">
          <%= f.email_field :email, id: 'email', placeholder: '👤 Email', autofocus: true, class: 'input is-medium login-input', autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, id: 'password', placeholder: '🔒 Password', class: 'input is-medium login-input', autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", id: 'login' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </div> 

</section>
