<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-journal" class="new-journal login">

  <div class="container is-flex is-align-items-center is-justify-content-center login-category"> 

    <div class="new-cat-svg login-svg">
      <%= image_tag("secure-login-animate.svg", :alt => 'add category image', class: "new-category-svg login-svg-form") %>
    </div>

    <div class="log-in-form">
      <svg id="categoryLogo" width="300" height="100" viewBox="0 0 999 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.192 90.344H48.328V101H0.0880127V0.632004H13.192V90.344Z" stroke="white" stroke-width="5"/>
        <path d="M96.6603 102.296C89.2683 102.296 82.5483 100.616 76.5003 97.256C70.5483 93.896 65.8443 89.144 62.3883 83C59.0283 76.76 57.3483 69.56 57.3483 61.4C57.3483 53.336 59.0763 46.232 62.5323 40.088C66.0843 33.848 70.8843 29.096 76.9323 25.832C82.9803 22.472 89.7483 20.792 97.2363 20.792C104.724 20.792 111.492 22.472 117.54 25.832C123.588 29.096 128.34 33.8 131.796 39.944C135.348 46.088 137.124 53.24 137.124 61.4C137.124 69.56 135.3 76.76 131.652 83C128.1 89.144 123.252 93.896 117.108 97.256C110.964 100.616 104.148 102.296 96.6603 102.296ZM96.6603 90.776C101.364 90.776 105.78 89.672 109.908 87.464C114.036 85.256 117.348 81.944 119.844 77.528C122.436 73.112 123.732 67.736 123.732 61.4C123.732 55.064 122.484 49.688 119.988 45.272C117.492 40.856 114.228 37.592 110.196 35.48C106.164 33.272 101.796 32.168 97.0923 32.168C92.2923 32.168 87.8763 33.272 83.8443 35.48C79.9083 37.592 76.7403 40.856 74.3403 45.272C71.9403 49.688 70.7403 55.064 70.7403 61.4C70.7403 67.832 71.8923 73.256 74.1963 77.672C76.5963 82.088 79.7643 85.4 83.7003 87.608C87.6363 89.72 91.9563 90.776 96.6603 90.776Z" stroke="white" stroke-width="5"/>
        <path d="M186.898 20.792C193.714 20.792 199.666 22.28 204.754 25.256C209.938 28.232 213.778 31.976 216.274 36.488V22.088H229.522V102.728C229.522 109.928 227.986 116.312 224.914 121.88C221.842 127.544 217.426 131.96 211.666 135.128C206.002 138.296 199.378 139.88 191.794 139.88C181.426 139.88 172.786 137.432 165.874 132.536C158.962 127.64 154.882 120.968 153.634 112.52H166.594C168.034 117.32 171.01 121.16 175.522 124.04C180.034 127.016 185.458 128.504 191.794 128.504C198.994 128.504 204.85 126.248 209.362 121.736C213.97 117.224 216.274 110.888 216.274 102.728V86.168C213.682 90.776 209.842 94.616 204.754 97.688C199.666 100.76 193.714 102.296 186.898 102.296C179.89 102.296 173.506 100.568 167.746 97.112C162.082 93.656 157.618 88.808 154.354 82.568C151.09 76.328 149.458 69.224 149.458 61.256C149.458 53.192 151.09 46.136 154.354 40.088C157.618 33.944 162.082 29.192 167.746 25.832C173.506 22.472 179.89 20.792 186.898 20.792ZM216.274 61.4C216.274 55.448 215.074 50.264 212.674 45.848C210.274 41.432 207.01 38.072 202.882 35.768C198.85 33.368 194.386 32.168 189.49 32.168C184.594 32.168 180.13 33.32 176.098 35.624C172.066 37.928 168.85 41.288 166.45 45.704C164.05 50.12 162.85 55.304 162.85 61.256C162.85 67.304 164.05 72.584 166.45 77.096C168.85 81.512 172.066 84.92 176.098 87.32C180.13 89.624 184.594 90.776 189.49 90.776C194.386 90.776 198.85 89.624 202.882 87.32C207.01 84.92 210.274 81.512 212.674 77.096C215.074 72.584 216.274 67.352 216.274 61.4Z" stroke="white" stroke-width="5"/>
        <path d="M303.161 0.632004V101H290.057V0.632004H303.161Z" stroke="white" stroke-width="5"/>
        <path d="M363.942 20.648C373.542 20.648 381.318 23.576 387.27 29.432C393.222 35.192 396.198 43.544 396.198 54.488V101H383.238V56.36C383.238 48.488 381.27 42.488 377.334 38.36C373.398 34.136 368.022 32.024 361.206 32.024C354.294 32.024 348.774 34.184 344.646 38.504C340.614 42.824 338.598 49.112 338.598 57.368V101H325.494V22.088H338.598V33.32C341.19 29.288 344.694 26.168 349.11 23.96C353.622 21.752 358.566 20.648 363.942 20.648Z" stroke="white" stroke-width="5"/>
        <path d="M534.906 101H521.802L469.098 21.08V101H455.994V0.488007H469.098L521.802 80.264V0.488007H534.906V101Z" stroke="white" stroke-width="5"/>
        <path d="M591.66 102.296C584.268 102.296 577.548 100.616 571.5 97.256C565.548 93.896 560.844 89.144 557.388 83C554.028 76.76 552.348 69.56 552.348 61.4C552.348 53.336 554.076 46.232 557.532 40.088C561.084 33.848 565.884 29.096 571.932 25.832C577.98 22.472 584.748 20.792 592.236 20.792C599.724 20.792 606.492 22.472 612.54 25.832C618.588 29.096 623.34 33.8 626.796 39.944C630.348 46.088 632.124 53.24 632.124 61.4C632.124 69.56 630.3 76.76 626.652 83C623.1 89.144 618.252 93.896 612.108 97.256C605.964 100.616 599.148 102.296 591.66 102.296ZM591.66 90.776C596.364 90.776 600.78 89.672 604.908 87.464C609.036 85.256 612.348 81.944 614.844 77.528C617.436 73.112 618.732 67.736 618.732 61.4C618.732 55.064 617.484 49.688 614.988 45.272C612.492 40.856 609.228 37.592 605.196 35.48C601.164 33.272 596.796 32.168 592.092 32.168C587.292 32.168 582.876 33.272 578.844 35.48C574.908 37.592 571.74 40.856 569.34 45.272C566.94 49.688 565.74 55.064 565.74 61.4C565.74 67.832 566.892 73.256 569.196 77.672C571.596 82.088 574.764 85.4 578.7 87.608C582.636 89.72 586.956 90.776 591.66 90.776Z" stroke="white" stroke-width="5"/>
        <path d="M754.474 22.088L729.85 101H716.314L697.306 38.36L678.298 101H664.762L639.994 22.088H653.386L671.53 88.328L691.114 22.088H704.506L723.658 88.472L741.514 22.088H754.474Z" stroke="white" stroke-width="5"/>
      </svg>



      <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: 'form', class: 'form') do |f| %>
        <p class="error-message-login"><%= alert %></p>
        <div class="field">
          <%= f.email_field :email, id: 'email', placeholder: '👤 Email', autofocus: true, class: 'input is-medium login-input', autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, id: 'password', placeholder: '🔒 Password', class: 'input is-medium login-input', autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", id: 'login' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </div> 

</section>