<%= javascript_pack_tag 'alert' %>

<%= render 'navbar' %>

    <div class="flex justify-center mt-8 gap-2 text-center font-semibold text-3xl">
        <%= @journal.name %>
    </div>

    <br/>

    <div class="flex justify-center gap-2 text-center text-xl">

        <div>
            <%= @journal.percent_complete %>% Task Completed
        </div>

        <div>
            <progress 
                class="progress is-normal is-success"
                value="<%= @journal.percent_complete %>" max="100">
            </progress>   
        </div>
        
        <%= link_to new_journal_task_path(@journal) do%>
            <i class="fas fa-plus mr-3" aria-hidden="true"></i>Task
        <% end %>     

    </div>

    <br/>

    <hr class="hr-task w-3/4 h-1 bg-gray-900"/>

    <br/>

    <%# If there is no task/s %>

    <% if @journal.tasks.count == 0 %>
        <div class="flex flex-col">
            <%= image_tag("empty-animate.svg", :alt => 'empty task image', class: "empty__svg") %>
            <div class="mt-8 flex gap-20 justify-center items-center">
                <p class="text-3xl font-semibold">No Tasks Yet</p>
                <%# Link ng New Task Path %>
                <%= link_to new_journal_task_path(@journal), class: 'text-3xl font-semibold' do%>
                    <i class="fas fa-plus mr-3" aria-hidden="true"></i>Add Task Now
                <% end %>
            </div>
        </div>
    <% else %>

    <%# Your Task/s %>
    
    <h1 class="text-center text-3xl font-bold text-gray-900">Your Task/s</h1>

    <div class="journal-index grid grid-cols-4 gap-8 max-w-7xl mt-16 custom:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4">
            <% @journal.tasks.each do |task| %>

                    <% if task.completed? == false and !task.deadline.today? %>

                    <div class="journal__index bg-gray-50 border-2 border-gray-500 rounded-sm w-full p-8 custom:w-3/4 md:w-3/4 lg:w-3/4 xl:w-full 2xl:w-full">
                        <div class="tile tile-item is-parent is-shady tile-color">
                        <article class="tile is-child box card-bg"  id="task_box">
                        <%= raw task_label(task)[:html] %>
                        
                        <br>
                        <div class="tile-contents">
                            <strong class="text-3xl whitespace-nowrap"><%= task.name %></strong>  
                            <br/>
                            <span class="tasks-time">
                                <i class='bx bxs-time' ></i>         
                                <%= date_parse(task.deadline) %>
                            </span>
                            <br/>
                            <i class='bx bxs-chevron-right' ></i>
                            <span class='tasks-desc'>
                                <%= truncate(strip_tags(task.description.to_s), length: 100) %>
                            </span>
                        </div>

                            <br/>

                            <div class="tile-actions tasks-icons is-flex is-justify-content-flex-end">
                            
                                <%= link_to journal_task_path(@journal, task), class:"button  has-text-primary action-tile-button mr-2" do%>
                                    <i class='bx bx-expand-alt font-semibold text-violet-800 text-3xl hover:text-violet-600' ></i>
                                <% end %>
                                <%= link_to edit_journal_task_path(@journal, task), class:"button  has-text-warning action-tile-button mr-2" do%>
                                    <i class='bx bxs-edit-alt font-semibold text-yellow-800 text-3xl hover:text-yellow-600'></i>
                                <% end %>
                                <%= link_to journal_task_path(@journal, task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class:"button has-text-danger" do %>
                                    <i class='bx bxs-trash font-semibold text-red-800 text-3xl hover:text-red-600' ></i>
                                <% end %>
                            </div>
                                
                        </article>
                        </div>
                    </div>

                    <% end %>

            <% end %>
    </div>

    <br/><br/>

    <%# Completed Task/s %>

    <% unless @journal.percent_complete == 0 %>
    
    <h1 class="text-center text-3xl font-bold text-green-900">Completed Task/s</h1>

    <div class="journal-index grid grid-cols-4 gap-8 max-w-7xl mt-16 custom:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4">
            <% @journal.tasks.each do |task| %>

                <% unless task.completed? == false %>

                <div class="journal__index bg-gray-50 border-2 border-green-500 rounded-sm w-full p-8 custom:w-3/4 md:w-3/4 lg:w-3/4 xl:w-full 2xl:w-full">
                
                    <div class="tile tile-item is-parent is-shady tile-color">
                    <article class="tile is-child box card-bg"  id="task_box">
                    <div class="tile-contents">
                        <strong><%= task.name %></strong>  
                        <br/>
                        <span class="tasks-time">
                            <i class='bx bxs-time' ></i>         
                            <%= date_parse(task.deadline) %>
                        </span>
                        <br/>
                        <i class='bx bxs-chevron-right' ></i>
                        <span class='tasks-desc'>
                            <%= truncate(strip_tags(task.description.to_s), length: 100) %>
                        </span>
                    </div>

                        <br/>

                        <div class="tile-actions tasks-icons is-flex is-justify-content-flex-end">
                        
                            <%= link_to journal_task_path(@journal, task), class:"button  has-text-primary action-tile-button mr-2" do%>
                                <i class='bx bx-expand-alt font-semibold text-violet-800 text-3xl hover:text-violet-600' ></i>
                            <% end %>
                            <%= link_to edit_journal_task_path(@journal, task), class:"button  has-text-warning action-tile-button mr-2" do%>
                                <i class='bx bxs-edit-alt font-semibold text-yellow-800 text-3xl hover:text-yellow-600'></i>
                            <% end %>
                            <%= link_to journal_task_path(@journal, task), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class:"button has-text-danger" do %>
                                <i class='bx bxs-trash font-semibold text-red-800 text-3xl hover:text-red-600' ></i>
                            <% end %>
                        </div>
                        
                    </article>
                    </div>
                </div>
                <% end %>
                
            <% end %>
    </div>

    <%# Do not delete this end %>

    <% end %>

<% end %>

<br/><br/>
